.site-header {
    background-color: rgb(56, 56, 153);
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content {
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: rgb(52, 52, 138) 2px 5px 5px;
}

div p{
    color:#ecfdf9;
    font-size: 20px;

}
#hyperlinks {
color: turquoise;
font-size:20px;
}
.course-link{
color: turquoise;

}
body{
    margin: 0;
}